# SPDX-License-Identifier: GPL-2.0

config KMEMDUMP
	bool "KMEMDUMP: Allow the kernel to register memory regions for dumping purpose"
	help
	  Kmemdump mechanism allows any driver to mark a specific memory area
	  for later dumping/debugging purpose, depending on the functionality
	  of the attached backend.
	  The backend would interface any hardware mechanism that will allow
	  dumping to complete regardless of the state of the kernel
	  (running, frozen, crashed, or any particular state).

	  Note that modules using this feature must be rebuilt if option
	  changes.
